@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.Productsflex {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  padding: 2rem;
}

.productCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba($color: #aaaaaa, $alpha: 0.6);

  
  
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.image {
  transition: opacity 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter .3s ease-in-out;
  &:hover{
    transition: filter .3s ease-in-out;
    filter: brightness(0.8);
  }
  
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.info {
  padding: 1rem;
  color: black;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.1rem;
  margin: 0;
  color: #333;
  letter-spacing: .15em;
  font-family: Cormorant, serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
}

.description {
  font-size: 0.9rem;
  color: #333;
  letter-spacing: .15em;
  font-family: Cormorant, serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
  display: none;
}
.PriceRange{
  display: flex;
  justify-content: center; /* Centers horizontally within the container */
  align-items: center; /* Centers vertically within the container (if needed) */
  gap: 0.5rem;

}
.price {
  margin: 0;
  font-size: 1rem;
  color: #333;
  letter-spacing: .15em;
  font-family: Cormorant, serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
}

@media (min-width: 768px) {
  .Productsflex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.5rem;
  }

  .price {
    font-size: 0.8rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
















.hyperPoint {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid white;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.7);
  opacity: 0;
  animation: flicker 5s infinite;
  transform: scale(0);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) scale(0);
    animation: wave 5s infinite;
    pointer-events: none;
  }
}

.clicked {
  opacity: 1;               /* Ensure it's visible */
  transform: scale(1);       /* Keep it at the visible size */
  animation: none;           /* Stop flicker animation */

  &::before {
    animation: none;         /* Stop wave animation */
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes wave {
  0% {
    width: 0;
    height: 0;
    opacity: 0.7;
    transform: translate(-50%, -50%) scale(0);
  }
  10% {
    opacity: 1;
  }
  50% {
    width: 50px;
    height: 60px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
















.tooltip {
  position: absolute;
  background-color: white;
  color: black;
  padding-top: 1px;
  padding-left: 1px;
  border-radius: 3px;
  border: 1px solid #000; // Dark border for the comic effect
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 230px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  transform: translate(-50%, -50%);
}

.tooltipImage {
  width: 95px;
  flex-shrink: 0;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: -7px;
  right: 2px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.productName {
  font-size: 14px;
  margin: 0;
  color: #333;
  letter-spacing: .15em;
  font-family: Cormorant, serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
}

.productPrice {
  font-size: 12px;
  margin: 5px 0 0;
  color: #333;
  letter-spacing: .15em;
  font-family: Cormorant, serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 100;
}
